In [1]:
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String
import sqlite3
import os
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper

import plotly.express as px

from datetime import timedelta

In [2]:
#path of the excel file to get all the sheets from the excel file into xls sheet name list
xls = pd.ExcelFile("sales original.xlsx")

From the following blog and video

https://macxima.medium.com/python-how-to-read-multiple-excel-sheets-or-tabs-4d412185c18

https://www.youtube.com/watch?v=fdPV-3K-8pc

In [3]:
#set the file name to read the excel sheets
file_name = "sales original.xlsx"

#For loop to get the sheet name from the excel file
for table_name in xls.sheet_names: 
    
    # Declare a variable to store the different sheet names
    sqlite_table = table_name
    print(sqlite_table)

    # Dynamically create dataframes for each sheet in the excel file.
    vars()[table_name] = pd.DataFrame()

    # Read the excel sheet into a Pandas dataframe
    vars()[table_name] = pd.read_excel(file_name, sheet_name = table_name, index_col=None)
    print(vars()[table_name].head(2))
    
    # Create SQL database and for each loop create a new table within the database. 
    conn = sqlite3.connect("sales original.db")
    vars()[table_name].to_sql(sqlite_table, conn, if_exists = 'replace', index=True, index_label = "id_" + sqlite_table[0:4]) # Index = True creates a Primary key called index in the table 
    conn.close()

products
         ASIN                                              title product_type
0  B07GWKDLGT  Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....  dslr camera
1  B01MTLH408  Manfrotto Element Aluminum 5-Section Monopod, ...  dslr camera
stock
  StockCode        ASIN
0     21703  B07GWKDLGT
1     40001  B01MTLH408
assessment
   rating  review_count        ASIN
0     4.6          1399  B07GWKDLGT
1     4.6           289  B01MTLH408
invoices
  InvoiceNo        ASIN  Quantity   price  total_sale invoice_date  \
0  78536597  B07GWKDLGT         4  496.95     1987.80   2018-12-01
1  78536597  B01MTLH408         4   39.99      159.96   2018-12-01

   invoice_time CustomerID
0            17      18011
1            17      18011
customers
  CustomerID  Country
0      18011  Germany
1      18011  Germany

In [8]:
del main_df

In [162]:

df = pd.DataFrame(merged_tables.head(15))
df

,InvoiceNo,ASIN,Quantity,Price,Total_Sales,Customer_Id,Product_Name,Product_Type,Country,Rating,Review_Count,StockCode,Invoice_Date
0,78536597,B07GWKDLGT,4,496.95,1987.80,18011,Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....,dslr camera,Germany,4.6,1399,21703,2018-12-01 17:00:00
1,78536597,B01MTLH408,4,39.99,159.96,18011,"Manfrotto Element Aluminum 5-Section Monopod, ...",dslr camera,Germany,4.6,289,40001,2018-12-01 17:00:00
2,78536597,B0064FS7HI,1,12.99,12.99,18011,"STK LP-E8 Battery for Canon Rebel T5i, T3i, T2...",dslr camera,Germany,4.4,333,85034A,2018-12-01 17:00:00
3,78536597,B013JHU5YG,1,199.99,199.99,18011,Lowepro Whistler BP 350 AW (Grey) . Profession...,dslr camera,Germany,4.3,86,72798C,2018-12-01 17:00:00
4,78536597,B06XWN9Q99,1,7.49,7.49,18011,Samsung (MB-ME32GA/AM) 32GB 95MB/s (U1) microS...,dslr camera,Germany,4.7,15717,20726,2018-12-01 17:00:00
5,78536597,B07F9QN5Q9,14,23.99,335.86,18011,Camera Shoulder Double Strap Harness Quick Rel...,dslr camera,Germany,4.3,83,35271S,2018-12-01 17:00:00
6,78536597,B006W1J3OK,6,11.95,71.70,18011,OP/TECH USA 3401002 Compact Sling for Cameras ...,dslr camera,Germany,4.2,253,20755,2018-12-01 17:00:00
7,78536595,B00EO4A7L0,5,79.00,395.00,13576,Rode SmartLav+ Omnidirectional Lavalier Microp...,dslr camera,Germany,4.1,2281,22694,2018-12-01 17:00:00
8,78536594,B0000BZL0G,6,21.90,131.40,15235,B + W 37mm UV Protection Filter (010) for Came...,dslr camera,Germany,4.5,6615,21733,2018-12-01 17:00:00
9,78536593,B004JMZPJQ,2,49.99,99.98,16835,Case Logic DCB-308 SLR Camera Sling (Black),dslr camera,Germany,4.3,925,22366,2018-12-01 17:00:00
10,78536593,B07FSJXHY9,6,64.86,389.16,16835,"ESDDI Camera Tripod, DSLR Tripod with 360Â° Ba...",dslr camera,Germany,4.8,338,22519,2018-12-01 17:00:00
11,78536592,B007I5B3EW,2,30.70,61.40,Null,Ape Case Envoy Compact Messenger-Style Camera ...,dslr camera,Germany,4.5,201,16168M,2018-12-01 17:00:00
12,78536592,B0149KE4FI,5,39.95,199.75,Null,"Manfrotto PIXI EVO 2-Section Mini Tripod, Red ...",dslr camera,Germany,4.3,504,16238,2018-12-01 17:00:00
13,78536592,B07817MWDB,1,69.95,69.95,Null,Peak Design Capture Camera Clip V3 (with Plate),dslr camera,Germany,4.6,352,17012F,2018-12-01 17:00:00
14,78536592,B00NP7G1U8,1,65.00,65.00,Null,SIRUI 3T-35 Table Top/Handheld Video Tripod wi...,dslr camera,Germany,4.5,196,17084P,2018-12-01 17:00:00

In [77]:
# Concact the useful columns for further analysis. 
# This means take the following df's and add columns to make a super DF. From: invoices
merged_tables = pd.concat([invoices, products, customers, assessment, stock], axis=1)

In [163]:
display(merged_tables.columns)
display(merged_tables.columns.duplicated())
display(merged_tables)

Index(['InvoiceNo', 'ASIN', 'Quantity', 'Price', 'Total_Sales', 'Customer_Id',
       'Product_Name', 'Product_Type', 'Country', 'Rating', 'Review_Count',
       'StockCode', 'Invoice_Date'],
      dtype='object')

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False])

,InvoiceNo,ASIN,Quantity,Price,Total_Sales,Customer_Id,Product_Name,Product_Type,Country,Rating,Review_Count,StockCode,Invoice_Date
0,78536597,B07GWKDLGT,4,496.95,1987.80,18011,Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....,dslr camera,Germany,4.6,1399,21703,2018-12-01 17:00:00
1,78536597,B01MTLH408,4,39.99,159.96,18011,"Manfrotto Element Aluminum 5-Section Monopod, ...",dslr camera,Germany,4.6,289,40001,2018-12-01 17:00:00
2,78536597,B0064FS7HI,1,12.99,12.99,18011,"STK LP-E8 Battery for Canon Rebel T5i, T3i, T2...",dslr camera,Germany,4.4,333,85034A,2018-12-01 17:00:00
3,78536597,B013JHU5YG,1,199.99,199.99,18011,Lowepro Whistler BP 350 AW (Grey) . Profession...,dslr camera,Germany,4.3,86,72798C,2018-12-01 17:00:00
4,78536597,B06XWN9Q99,1,7.49,7.49,18011,Samsung (MB-ME32GA/AM) 32GB 95MB/s (U1) microS...,dslr camera,Germany,4.7,15717,20726,2018-12-01 17:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
554412,78581476,B00SB6SPA2,12,14.99,179.88,12433,AUSDOM Lightweight Over-Ear Wired HiFi Stereo ...,smartphone,Norway,4.0,3159,23243,2019-12-09 08:00:00
554413,78581476,B07TKTRX6B,6,29.99,179.94,12433,"Squish Qi Wireless Car Charger, Wireless Charg...",smartphone,Norway,3.7,1888,23240,2019-12-09 08:00:00
554414,78581475,B07P8CK47X,12,6.97,83.64,13069,"Cell Phone Stand, 2Pack Cellphone Holder for D...",smartphone,Germany,4.5,449,23235,2019-12-09 08:00:00
554415,78581475,B07BDGPDKS,20,13.99,279.80,13069,USB Certified Type C Cable - EVISTR 3PACK 10FT...,smartphone,Germany,4.6,1368,22380,2019-12-09 08:00:00
554416,78581475,B018KIJGU8,12,59.00,708.00,13069,Rode VideoMic Me Compact TRRS Cardioid Mini-Sh...,smartphone,Germany,3.7,1401,22723,2019-12-09 08:00:00

In [120]:
# To check the corresponding iloc values of all the columns for easy reference.

merged_tables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554417 entries, 0 to 554416
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     554417 non-null  object
 1   ASIN          554417 non-null  object
 2   Quantity      554417 non-null  int64
 3   Price         554417 non-null  float64
 4   Total_Sales   554417 non-null  float64
 5   Customer_Id   554417 non-null  object
 6   Product_Name  554417 non-null  object
 7   Product_Type  554417 non-null  object
 8   Country       554417 non-null  object
 9   Rating        554417 non-null  float64
 10  Review_Count  554417 non-null  int64
 11  StockCode     554417 non-null  object
 12  Invoice_Date  554417 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(2), object(7)
memory usage: 55.0+ MB

In [80]:
# Manually checking if all the values in each row of duplicate columns are same. For instance there are 4 ASIN columns in the 
# merged table so it is important to see if all the values in each row are equal. If any values in two columns that is compared is different then "False" is returned. If not "True"

merged_tables.iloc[ : , 8].equals(merged_tables.iloc[ : , 15])

True

In [83]:
# Deleting unneccesary columns after checking if the column values are equal from the above step. This code deletes duplicate columns based on the column name.

merged_tables = merged_tables.loc[ : , ~merged_tables.columns.duplicated()].copy()

In [89]:
# Rename columns for better user readability using df.rename()

merged_tables.rename(columns={'price': 'Price', 'total_sale': 'Total_Sales', 'CustomerID' : 'Customer_Id',
'title' : 'Product_Name', 'product_type' : 'Product_Type', 'rating' : 'Rating', 'review_count' : 'Review_Count'}, inplace=True)

In [ ]:
# Create a single date time column with the correct dtype and using the combination of values from the original invoice_date and invoice_time




merged_tables["Invoice_Date"] = merged_tables["invoice_date"] + merged_tables["invoice_time"].astype("timedelta64[h]")

# Drop the invoice_date and invoice_time from the table since we've created a new column with the combined date and time columns.

merged_tables = merged_tables.drop(["invoice_date", "invoice_time"], axis = 1).copy()

In [121]:
# Display all the unique values in product type, countries, customer id, product name and ASIN key. 
# the unique number of ASIN should be equal to unique number of Product names
display("Unique number of Product_Type: " + str(merged_tables.Product_Type.nunique()))
display("Unique number of Country: " + str(merged_tables.Country.nunique()))
display("Unique number of Customer_Id: " + str(merged_tables.Customer_Id.nunique()))
display("Unique number of Product_Name: " + str(merged_tables.Product_Name.nunique()))
display("Unique number of ASIN: " + str(merged_tables.ASIN.nunique()))

'Unique number of Product_Type: 6'

'Unique number of Country: 37'

'Unique number of Customer_Id: 4340'

'Unique number of Product_Name: 4188'

'Unique number of ASIN: 4134'

In [147]:
del df

In [161]:
display(merged_tables.isnull().sum())
display(merged_tables.isnull().values.any())

InvoiceNo       0
ASIN            0
Quantity        0
Price           0
Total_Sales     0
Customer_Id     0
Product_Name    0
Product_Type    0
Country         0
Rating          0
Review_Count    0
StockCode       0
Invoice_Date    0
dtype: int64

False

In [165]:
# Here I want to check how many unique combo of ASIN and product names are present in the dataset. 
# I created a new df called unique_combo where I've grouped by ASIN and product name to show unique number of ASIN and product name combo.

unique_combo = merged_tables.groupby(['ASIN','Product_Name']).size().reset_index().rename(columns={0:'count'})
display(unique_combo)

            ASIN                                       Product_Name  count
0     B00000JRRD  Belkin WaveRest Gel Mouse Pad, Black (F8E262-BLK)    940
1     B00002JXFH                     Microsoft Natural Keyboard Pro      1
2     B00003CYNU  Fellowes Gel Wrist Rest and Mouse Pad, Graphit...     71
3     B00004THD0  Canon EF 75-300mm f/4-5.6 III Telephoto Zoom L...    353
4     B00004Z5RA  Belkin F8E263-BLK WaveRest Gel Wrist Pad for K...    926
...          ...                                                ...    ...
4193        Null  Wireless Mouse 2.4G Jelly Comb Computer Mouse ...    131
4194        Null  Wireless Mouse, TedGem 2.4G Portable Computer ...     20
4195        Null  WisFox Computer Wireless Mouse, 2.4G Wireless ...     98
4196        Null  X3 Hurricane Variable Speed 260mph+ Cordless R...      1
4197        Null  YUMQUA G189 USB Wired Mouse, Office & Home Opt...      8

[4198 rows x 3 columns]

In [177]:

unique_code1 = unique_combo.groupby(unique_combo['Product_Name'].tolist(),as_index=False).size()


display(unique_code1)

                                                  index  size
0     #1 UbiGear 2 in 1 Universal Car Cell Smartphon...     1
1     (2020 Latest, Backlit) ANEWISH 2.4GHz Mini Wir...     1
2     (2020 Upgraded Ver.) [4CH] Crystal Vision CVT8...     1
3     (5 in 1) Miger MacBook Pro 13" Case 2017 & 201...     1
4     (Renewed) Acer Flagship CB3-532 15.6 inches HD...     1
...                                                 ...   ...
4183  viozon Monitor and Laptop Mount, 2-in-1 Adjust...     1
4184  visnfa New Bike Phone Mount Anti Shake and Sta...     1
4185  wishpower Wireless Mini Keyboard 2.4Ghz Air Mo...     1
4186  ã€2020 Update Versionã€‘ 12â€™â€™ Screen Magn...     1
4187  ã€Upgraded Versionã€‘ YONHAN 4.8A Motorcycle ...     1

[4188 rows x 2 columns]