In [6]:

import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String
import sqlite3
import os
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper

In [7]:
#path of the excel file to get all the sheets from the excel file into xls sheet name list
xls = pd.ExcelFile("sales original.xlsx")

From the following blog and video

https://macxima.medium.com/python-how-to-read-multiple-excel-sheets-or-tabs-4d412185c18

https://www.youtube.com/watch?v=fdPV-3K-8pc

In [3]:
#set the file name to read the excel sheets
file_name = "sales original.xlsx"

#For loop to get the sheet name from the excel file
for table_name in xls.sheet_names: 
    
    # Declare a variable to store the different sheet names
    sqlite_table = table_name
    print(sqlite_table)

    # Dynamically create dataframes for each sheet in the excel file.
    vars()[table_name] = pd.DataFrame()

    # Read the excel sheet into a Pandas dataframe
    vars()[table_name] = pd.read_excel(file_name, sheet_name = table_name, index_col=None)
    print(vars()[table_name].head(2))
    
    # Create SQL database and for each loop create a new table within the database. 
    conn = sqlite3.connect("sales original.db")
    vars()[table_name].to_sql(sqlite_table, conn, if_exists = 'replace', index=True, index_label = "id_" + sqlite_table[0:4]) # Index = True creates a Primary key called index in the table 
    conn.close()

products
         ASIN                                              title product_type
0  B07GWKDLGT  Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....  dslr camera
1  B01MTLH408  Manfrotto Element Aluminum 5-Section Monopod, ...  dslr camera
stock
  StockCode        ASIN
0     21703  B07GWKDLGT
1     40001  B01MTLH408
assessment
   rating  review_count        ASIN
0     4.6          1399  B07GWKDLGT
1     4.6           289  B01MTLH408
invoices
  InvoiceNo        ASIN  Quantity   price  total_sale invoice_date  \
0  78536597  B07GWKDLGT         4  496.95     1987.80   2018-12-01
1  78536597  B01MTLH408         4   39.99      159.96   2018-12-01

   invoice_time CustomerID
0            17      18011
1            17      18011
customers
  CustomerID  Country
0      18011  Germany
1      18011  Germany